<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
<main layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="alert alert-danger" role="alert">
            <h1>Error</h1>
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</main>
</body>
</html>
