body {
    /*font-family: Arial, sans-serif;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    /*height: 100vh;*/
    background-color: #f5f5f5;
    text-align: center;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff5722;
}

p {
    color: #333;
}

.my_button {
    display: inline-block;
    background-color: #0048ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.my_button:hover {
    background-color: #0022a6;
}

footer {
    text-align: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.expiration_span {
    text-align: center;
    align-items: center;
}